.button-container {
  
   border: 2px solid white; 
    /* border-radius: 50%; */
    margin-left: 65px;
    margin-bottom: 25px;
     /* padding: 5px;
    width: 50px;
    height: 20px; */
    text-align: center;
    font-size: medium; 
    /* background-color: #2851a4;  */
    color: blue;
  
}
.button-value {
  display: flex;
flex-direction: row;
color:blue;
font-size: medium;
text-align: justify;
}